.btn-add_property {
    background-color: #00A5A7; 
    color: #ffffff; 
  }

  .btn-add_property:hover {
    background-color: #00A5A7; 
    color: #ffffff; 
  }
.btn-detail {
    background-color: #00A5A7; 
    color: #ffffff; 
    
  }

  .btn-detail:hover {
    background-color: #00A5A7; 
    color: #ffffff; 
    
  }
  
  .btn-submit {
    background-color: #00A5A7; 
    color: #ffffff; 
  } 

  .btn-submit:hover {
    background-color: #00A5A7; 
    color: #ffffff; 
  } 